extends ../layouts/adminCommon

block content

            a.btn.btn-primary(href='/productmanager/create') Tạo mặt hàng mới
            br
            br

            table.table
                    tr
                        th Ảnh
                        th Tên mặt hàng
                        th giá
                        th Hãng
                        th Số lượng
                        th Miêu tả
                        th Chỉnh sửa
                        th Xóa
                    each product in products
                        tr
                            td 
                                img(src=product.image, width="40")
                            td=product.name
                            td=product.price+ " đồng"
                            td=product.supplier
                            td=product.quantity
                            td=product.describe
                            td
                                a.btn.btn-primary(href='/productmanager/'+product.id+'/update') Chỉnh sửa
                            td 
                                a.btn.btn-primary(href='/productmanager/' + product.id + '/delete') Xóa